In [1]:
print ('Hello Python World')

Hello Python World

In [1]:
#variable is used to store data, and increases reusablility
name = 'Sumit';
print(name);
#python is extremely case sensitive and so the data stored or name of variables have to be properly named. 
Name = 'Sohan';
print(Name); #here Name cannot be interchanged with name because both of them store different values
#Naming Conventions : Naming of variables also follow a certain coding standard, eg., var1, var_1, etc are acceptable however no special characters
#multiple worded varaibles cannot be used like var#1 or var&1 etc must not be used. 
#Numbers at the beginning of variables is not allowed, for multiple words, Variable_one (snake case) can be used or 
#VariableOne (camel case) can be used.

Sumit
Sohan

In [13]:
#Data Types : integer, float, string, boolean
num = 678
type(num)
num2 = 60.78
type(num2)

int

In [14]:
title = 'Monty Python and the holy grail'
type(title)

str

In [15]:
sessionStatus = True 
type (sessionStatus)

bool

In [18]:
stud1, stud2, stud3 = 89, 91, 98
print (stud1)
print (stud2)
print (stud3)

89
91
98

In [21]:
#Type Casting 
a = 20 
print ('Datatype is : ', type(a))
a = float(a) 
print ('Datatype is : ',  type(a))

Datatype is :  <class 'int'>
Datatype is :  <class 'float'>

In [26]:
#When type casting, a string value which has decimal points in it cannot be directly converted to int, it has to be converted 
#to float first, and then can be converted into int.
example = '2999.90' 
print ('Datatype is : ', type(example))
#example = int(example) #this will give an error as the string has decimal points 
example = float (example)
print ('Datatype is : ', type(example))
example = int (example) 
print ('Datatype is : ', type(example))
ex = ' ' 
ex = bool (ex) 
print ('Datatype is : ', type(ex))
print (ex) #reads as true because it ex contains a value 
ex = 'False' 
ex = bool (ex)
print (ex) #reads true because ex is a boolean variable with some value inside

Datatype is :  <class 'str'>
Datatype is :  <class 'float'>
Datatype is :  <class 'int'>
Datatype is :  <class 'bool'>
True
True

In [29]:
#Arithematic Operators
#Addition -----> +, Subtraction -----> -, Multiplication -----> *, Division -----> / 
#Modulus -----> %, Floor Division -----> //, Exponential -----> ** 

#Addition 
a, b = 10, 5 
print (a + b)
#Subtraction 
print (a - b)
#Multiplication 
print (a * b)
#Division 
print (a / b) 
#Modulus 
print (a % b)
#Floor Division 
print (a // b)
#Exponential 
print (a ** b)

15
5
50
2.0
0
2
100000